@use '../../../styles.scss' as styles;

#inputServicesTable{
    height: styles.$inputTableHeight;
}
#headersTable {
    height: styles.$headersTableHeight;
}

#containerServicesTable {
    height: calc(100% - styles.$inputTableHeight - styles.$headersTableHeight);
}

#buscadorServices:focus{
    border-color: styles.$primary-color;
    box-shadow: 0 0 0 .25rem styles.$primary-color-25;
}
.service{
    position: relative;
}
.service:hover td{
    cursor: pointer;
}

.service:hover{
    box-shadow: inset 1px 0 0 rgb(218, 220, 224), inset -1px 0 0 rgb(218, 220, 224), 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    z-index: 2 !important;
}
#servicesTableBody > tr:last-child{
    border-bottom-left-radius: 1em !important;
    border-bottom-right-radius: 1em !important;
    margin-bottom: 1em !important;
}

#servicesTableBody > tr:last-child > td:first-child{
    border-bottom-left-radius: 0.3em !important;
}

#servicesTableBody > tr:last-child > td:last-child{
    border-bottom-right-radius: 0.3em !important;
}
#servicesTableBody tr td:first-child, #headersTable tr th:first-child{

    width: 5%;
}
#servicesTableBody tr td:nth-child(2), #headersTable tr th:nth-child(2){
    width: 10%;
}
#servicesTableBody tr td:nth-child(3), #headersTable tr th:nth-child(3){
    width: 15%;
}
#servicesTableBody tr td:nth-child(4), #headersTable tr th:nth-child(4){
    width: 10%;
}
#servicesTableBody tr td:nth-child(5), #headersTable tr th:nth-child(5){
    width: 15%;
}
#servicesTableBody tr td:nth-child(6), #headersTable tr th:nth-child(6){
    width: 15%;
}
#servicesTableBody tr td:nth-child(7), #headersTable tr th:nth-child(7){
    width: 10%;
}
#servicesTableBody tr td:last-child, #headersTable tr th:last-child{
    width: 15%;
}

.form-btn-cerrar{
    height: 25px;
    width: 25px;
}

.form-logo-cliente{
    width: auto;
    max-height: 50px;
}

.nuevo-servicio-container{
    display: flex !important;
    align-items: center;
    justify-content: space-between;
}

.nuevo-servicio-modal{
    /* background-color: burlywood !important; */
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.nuevo-servicio-modal::-webkit-scrollbar{
    width: 0;
}