<div class="col-12 text-start overflow-y-auto pb-3">
    <form action="" (ngSubmit)="onSubmit()" #newServicioForm="ngForm"><!--Reducir las búsquedas a DNI, nombre con los apellidos y teléfono-->
        <div *ngIf="this.formStep === 2" class=" row p-0 m-0">
            <div class="required-info col-12">
                <div class="row">
                    <div class="col-6 p-2">
                        <label for="dniSearch" class="form-label">DNI</label>
                        <input [(ngModel)]="selectedCustomerDNI" 
                        (input)="onSearchCustomerDNI($event)" 
                        type="text" class="form-control" id="dniSearch" 
                        [placeholder]="searchValidDNI ? 'Buscar DNI' : 'Introducir DNI'" 
                        name="dniSearch" required>
                        <ul *ngIf="filteredCustomersByDNI.length" class="list-group position-absolute z-2">
                            <li *ngFor="let customer of filteredCustomersByDNI"
                            (click)="selectCustomer(customer)"
                            class="list-group-item">
                            {{customer.dni}}
                            </li>
                        </ul>
                    </div>
                    <div class="col-6 p-2">
                        <label for="telephoneSearch" class="form-label">Teléfono</label>
                        <input [(ngModel)]="selectedCustomerTelephone"
                        (input)="onSearchCustomerTelephone($event)"  
                        type="text" class="form-control" id="telephoneSearch" 
                        [placeholder]="searchValidTelephone ? 'Buscar Teléfono' : 'Introducir Teléfono'" 
                        name="telephoneSearch" required>
                        <ul *ngIf="filteredCustomersByTelephone.length" class="list-group position-absolute">
                            <li *ngFor="let customer of filteredCustomersByTelephone"
                            (click)="selectCustomer(customer)"
                            class="list-group-item">
                            {{customer.telefono}}
                            </li>
                        </ul>
                    </div>
                    <div class="col-12 p-2">
                        <label for="nombreSearch" class="form-label">Nombre</label>
                        <input [(ngModel)]="selectedCustomerName"
                        (input)="onSearchCustomerName($event)" 
                        type="text" class="form-control" id="nombreSearch" 
                        [placeholder]="searchValidName ? 'Buscar Nombre o Apellidos' : 'Introducir Nombre y Apellidos'" 
                        name="nombreSearch" required>
                        <ul *ngIf="filteredCustomersByName.length" class="list-group position-absolute z-2">
                            <li *ngFor="let customer of filteredCustomersByName"
                            (click)="selectCustomer(customer)"
                            class="list-group-item">
                            {{customer.nombre}} {{customer.apellidos}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="(!this.searchValidDNI && !this.searchValidName && !this.searchValidTelephone)" class="optional-info col-12">
            <div class="row p-0 m-0">
                <h2 class="col-10 fs-4">Información opcional</h2>
                <div class="col-12 input-group mb-3">
                    <div class="row w-100">
                        <div class="col-12 d-flex">
                            <label for="emailSearch" class="form-label w-50">Email</label>
                            <label for="emailSearch" class="form-label w-50">Dominio</label>
                        </div>
                    </div>
                    <div class="col-12">                                
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group">
                                    <input [(ngModel)]="selectedCustomerEmail" name="email" type="text" class="form-control" placeholder="Email" aria-label="Email">
                                    <span class="input-group-text">&#64;</span>
                                    <input [(ngModel)]="selectedCustomerDomain" 
                                    (input)="onSearchDomain($event)" 
                                    (click)="selectText($event)"
                                    type="text" 
                                    class="form-control" 
                                    id="dominioSearch"
                                    placeholder="Domain" 
                                    name="dominioSearch">
                                </div>
                            </div>
                            <div class="col-6 offset-6 position-relative align-self-right">
                                <ul *ngIf="filteredDomains.length > 0 && (searchValidDNI || searchValidName || searchValidTelephone)" 
                                    class="list-group position-absolute mt-1">
                                    <li *ngFor="let dominio of filteredDomains" 
                                    (click)="selectDomain(dominio)" 
                                    class="list-group-item">
                                    {{dominio.nombre}}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-5 p-2">
                    <label for="cpSearch" class="form-label">CP</label>
                    <input [(ngModel)]="selectedCustomerCP" 
                    (input)="onSearchCPAndLocality()" 
                    (click)="selectText($event)"
                    type="text" 
                    class="form-control" 
                    id="cpSearch" 
                    placeholder="Buscar CP" 
                    name="cpSearch">
                    <ul *ngIf="filteredCPS.length > 0 && selectedCustomerCP" class="list-group position-absolute">
                        <li *ngFor="let cp of filteredCPS"
                        (click)="selectCP(cp)"
                        class="list-group-item">
                        {{cp.CP}}
                        </li>
                    </ul>
                </div>
                <div class="col-7 p-2">
                    <label for="localidadSearch" class="form-label">Localidad</label>
                    <input [(ngModel)]="selectedCustomerLocalityName"
                    (input)="onSearchCPAndLocality()" 
                    (click)="selectText($event)"
                    type="text" class="form-control" id="localidadSearch" 
                    placeholder="Buscar localidad" 
                    name="localidadSearch">
                    <ul *ngIf="filteredLocalities.length && selectedCustomerLocalityName" class="list-group position-absolute">
                        <li *ngFor="let localidad of filteredLocalities"
                        (click)="selectLocality(localidad)"
                        class="list-group-item">
                        {{localidad.nombre}}
                        </li>
                    </ul>
                </div>
                <div class="col-4 p-2">
                    <label for="tipo-via-direccion-cliente" class="form-label">Tipo vía  </label>
                    <select class="form-control" id="tipo-via-direccion-cliente" name="tipo-road" [(ngModel)]="selectedCustomerAddressRoadType">
                        <option value="" disabled hidden>Elige tipo vía</option>
                        <option *ngFor="let via of filteredVias" [value]="via">{{ via }}</option>
                    </select>
                </div>
                <div class="col-4 p-2">
                    <label for="nombre-direccion-cliente" class="form-label">Dirección</label>
                        <input [(ngModel)]="selectedCustomerAddressName" type="text" class="form-control" id="nombre-direccion-cliente" placeholder="Nombre calle..." name="nombre-direccion-cliente">
                </div>
                <div class="col-4 p-2">
                    <label for="numero-direccion-cliente" class="form-label">Número</label>
                    <input [(ngModel)]="selectedCustomerAddressNumber" type="text" class="form-control" id="numero-direccion-cliente" placeholder="Número..." name="numero-direccion-cliente">
                </div>
                <div *ngIf="selectedAddressRoadType === true && selectedAddressName === true && selectedAddressNumber === true" class="text-danger">La dirección es obligatoria.</div>
            </div>
        </div>
    </form>
</div>