/* Permissions Manager Styles */
.permissions-container {
    padding: 1rem;
}

table {
    border-collapse: collapse;
}

.permissions-container td,
.permissions-container th {
    vertical-align: middle;
}