<div *ngIf="ticket" class="modal" [class.show]="true" [style.display]="'block'" tabindex="-1" role="dialog" aria-labelledby="modalTicket" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="modalInfoLabel">
            Ticket # {{ticket.contador}} para 
            <a href="" 
              (click)="openCustomerModal(ticket.cliente); $event.preventDefault()">{{ticket.cliente.nombre}} {{ticket.cliente.apellidos}}
            </a>
          </h2>
          <button type="button" class="btn-close" aria-label="Close" (click)="closeTicket()"></button>
        </div>
        <div class="modal-body">
          <div class="row d-flex align-items-center justify-content-around pt-3">
            <div *ngFor="let estado of estados" class="col-2 d-flex flex-column align-items-center justify-content-center" [ngClass]="{'estado-pasado': ticket.estado.posicion > estado.posicion}">
              <div class="pb-2">{{estado.nombre}}</div>
              <div class="marcador" [ngClass]="{'marcador-estado-actual': ticket.estado.posicion === estado.posicion, 'marcador-estado-pasado': ticket.estado.posicion > estado.posicion}"></div>
            </div>
          </div>
          <div class="table-responsive rounded pt-3" id="containerServicesTable">
            <table id="tablaServices" class="table table-striped mb-1 rounded">
              <thead>
                <tr>
                  <th>Unidades</th>
                  <th>Productos</th>
                  <th>Trabajos</th>
                  <th class="text-center">Acabado</th>
                </tr>
              </thead>
              <tbody id="customersBodyTable" class="h-100">
                <tr *ngFor="let servicio of ticket.servicios" class="customer">
                    <td class="align-content-center" #unidades>{{servicio.unidades}}</td>
                    <td class="align-content-center" #producto>{{servicio.producto?.nombre || ''}}</td>
                    <td class="align-content-center" #trabajo>{{servicio.trabajo.nombre}}</td>
                    <td class="align-content-center text-center" #finalizado>
                      <input type="checkbox" name="finalizado" id="" [checked]="servicio.finalizado">
                    </td>
                </tr>
            </tbody>
            </table>
          </div>
          <div class="row pt-3 d-flex flex-column align-items-center justify-content-center">
            <div class="col-12">
              <div class="row m-0">
                <div class="col-12">
                  <h2>Comentarios</h2>
                </div>
                <div class="col-12 d-flex flex-column align-items-center justify-content-between rounded-3 p-3">
                  <div class="comentario row w-100" *ngFor="let comentario of ticket.comentarios">
                    <div class="col-4 p-0">
                      <p class="m-0 shadow-sm">{{comentario}}</p>
                    </div>
                  </div>
                </div>
                <div class="col-12">
                  <div class="pt-3 row m-0 d-flex align-items-center justify-content-end">
                    <textarea name="" id="" class="col-12 rounded p-1"></textarea>
                    <div class="col-2 pt-3 pe-0 d-flex align-items-center justify-content-end">
                      <button id="enviar-comentario" class="btn btn-success w-100">Enviar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="closeTicket()">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <app-modal-customer
    *ngIf="showCustomerModal"
    [customer]="selectedCustomer"
    (close)="closeCustomerModal()">
  </app-modal-customer>