.estado-pasado{
    opacity: 0.2;
}
.marcador{
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50em;
}

.marcador-estado-pasado{
    background-color: gray;
}

.marcador-estado-actual{
    background-color: green;
}

#tablaServices li{
    list-style: none;
}

#tablaServices ul{
    padding-left: 0;
}

.comentario{
    width: 50%;
}

.comentario > div > p{
    border-radius: 1em;
    padding: 1em;
}

.comentario:nth-child(odd){
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.comentario:nth-child(odd) > div p{
    background-color: skyblue;
    border-radius: 1em 1em 1em 0em;
}

.comentario:nth-child(even){
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.comentario:nth-child(even) > div p{
    background-color: bisque;
    border-radius: 1em 1em 0em 1em;
}