<div class="container-fluid vh-100">
    <div class="row h-100 p-2">
        <div class="col-12 h-100 p-0 d-flex flex-column overflow-hidden">
            <div class="input-group mb-3" id="inputServicesTable">
                <input [(ngModel)]="searchService" type="text" id="buscadorService" class="form-control w-75" placeholder="Realiza tus búsquedas aquí">
            </div>
            <table id="headersTable" class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Creación</th>
                        <th>DNI</th>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Vencimiento</th>
                        <th>Estado</th>
                        <th>Tipo</th>
                    </tr>
                </thead>
            </table>
            <div class="table-responsive" id="containerServicesTable">
                <table id="tableServices" class="table table-striped mb-1 rounded">
                    <tbody id="servicesTableBody" class="h-100">
                        <tr *ngFor="let service of filterServices()" class="service" >
                            <td class="align-content-center" #contador>{{service.contador}}</td>
                            <td class="align-content-center" #created_at>{{service.created_at | date:'dd/MM/yyyy'}}</td>
                            <td class="align-content-center" #dni>{{service.cliente.dni}}</td>
                            <td class="align-content-center" #nombre>{{service.cliente.nombre}}</td>
                            <td class="align-content-center" #apellidos>{{service.cliente.apellidos}}</td>
                            <td class="align-content-center" #fecha_vencimiento>{{service.fecha_vencimiento | date:'dd/MM/yyyy'}}</td>
                            <td class="align-content-center" #estado_nombre>{{service.estado.nombre}}</td>
                            <td class="align-content-center" #categories>
                                <p class="m-0" *ngFor="let category of service.categorias">
                                    {{category.nombre}}
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <app-btn-new 
            itemType="Ticket"
            [totalItems] = this.services.length
            [maxSteps] = 4></app-btn-new>
        </div>
    </div>
</div>