@use '../../../styles.scss' as styles;

#inputCustomersTable{
    height: 6%;
}

#buscadorCustomers:focus{
    border-color: styles.$primary-color;
    box-shadow: 0 0 0 .25rem styles.$primary-color-25;
}

.customer:hover td{
    cursor: pointer;
}

.customer:hover{
    box-shadow: inset 1px 0 0 rgb(218, 220, 224), inset -1px 0 0 rgb(218, 220, 224), 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    z-index: 2 !important;
}

.customer:hover td:last-child{
    cursor: auto;
}
.customer > td{
    border: 0;
}

#containerCustomersTable{
    scrollbar-width: none;
}

#customersBodyTable tr, #customersBodyTable td{
    height: 7vh;
}
#customersBodyTable tr td:first-child, #headersTable thead tr th:first-child{

    width: 8% !important;
}
#tablaCustomers tbody tr td:nth-child(2), #headersTable thead tr th:nth-child(2){

    width: 15% !important;
}
#customersBodyTable tr td:nth-child(3), #headersTable thead tr th:nth-child(3){
    width: 8%;
}
#customersBodyTable tr td:nth-child(4), #headersTable thead tr th:nth-child(4){
    width: 18%;
}
#customersBodyTable tr td:nth-child(5), #headersTable thead tr th:nth-child(5){
    width: 15%;
}
#customersBodyTable tr td:nth-child(6), #headersTable thead tr th:nth-child(6){
    width: 8%;
}
#customersBodyTable tr td:nth-child(7), #headersTable thead tr th:nth-child(7){
    width: 13%;
}
#customersBodyTable tr td:last-child{
    width: 15%;
}
#headersTable thead tr th:last-child{
    width: 15%;
    text-align: center;
}

.editingCustomer:hover td{
    background-color: transparent;
}

.editingCustomer > td{
    color: red;
}