<div class="container-fluid vh-100">
    <div class="row h-100 p-2">
        <div class="col-12 h-100 p-0 d-flex flex-column overflow-hidden">
            <div class="input-group mb-3" id="inputCustomersTable">
                <input [(ngModel)]="searchCustomer" type="text" id="buscadorCustomers" class="form-control" placeholder="Realiza tus búsquedas aquí">
            </div>
            <table id="headersTable" class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>DNI</th>
                        <th>Dirección</th>
                        <th>Localidad</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                    </tr>
                </thead>
            </table>
            <div class="table-responsive rounded" id="containerCustomersTable">
                <table id="tablaCustomers" class="table table-striped mb-1 rounded">
                    <tbody id="customersBodyTable" class="h-100">
                        <tr *ngFor="let customer of filterCustomers()" class="customer">
                            <td class="align-content-center" #nombre>{{customer.nombre}}</td>
                            <td class="align-content-center" #apellidos>{{customer.apellidos}}</td>
                            <td class="align-content-center" #dni>{{customer.dni}}</td>
                            <td class="align-content-center" #direccion>{{customer.direccion.tipo_via}} {{customer.direccion.nombre}} {{customer.direccion.numero}}</td>
                            <td class="align-content-center" #localidad>{{customer.direccion.localidad.nombre}}, {{customer.direccion.localidad.CP}}</td>
                            <td class="align-content-center" #telefono>{{customer.telefono}}</td>
                            <td class="align-content-center" #email>{{customer.email}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <app-btn-new 
            itemType="Nuevo Cliente"
            [totalItems] = this.customers.length
            [maxSteps] = 2></app-btn-new>
        </div>
    </div>
</div>
<!-- <app-nuevo-customer-modal></app-nuevo-customer-modal> -->