.customer:hover td{
    background-color: #F94F4F;
    cursor: pointer;
}

.customer:hover td:last-child{
    background-color: transparent;
    cursor: auto;
}

.customer{
    height: 6vh;
}
.customer > td{
    border: 0;
}

#inputCustomersTable{
    height: 6%;
}

#containerCustomersTable{
    scrollbar-width: none;
}

#customersBodyTable{
    overflow: auto !important;
}

#customersBodyTable tr, #customersBodyTable td{
    height: 6vh !important;
}
#customersBodyTable tr td:first-child, #headersTable thead tr th:first-child{

    width: 15% !important;
}
#tablaCustomers tbody tr td:nth-child(2), #headersTable thead tr th:nth-child(2){

    width: 20% !important;
}
#customersBodyTable tr td:nth-child(3), #headersTable thead tr th:nth-child(3){
    width: 25%;
}
#customersBodyTable tr td:nth-child(4), #headersTable thead tr th:nth-child(4){
    width: 10%;
}
#customersBodyTable tr td:nth-child(5), #headersTable thead tr th:nth-child(5){
    width: 15%;
}
#headersTable thead tr th:last-child{
    width: 15%;
    text-align: center;
}
#customersBodyTable tr td:last-child{
    width: 15%;
}

.editingCustomer:hover td{
    background-color: transparent;
}

.editingCustomer > td{
    color: red;
}